@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #FAF7F0;
    --dark: #4A4947;
    --light: #D8D2C2;
    --accent: #B17457;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  body {
    @apply bg-background text-black dark:bg-dark dark:text-white font-comic;
  }

  h2 {
    @apply text-4xl text-accent dark:text-light font-bold font-kaushan text-center;
  }
}